---
import Layout from "../layouts/NewLayout.astro";

export const prerender = true;
---

<Layout title="Not Found">
    <section>
        <h1>404</h1>
        <h2>No se encontró la pagina</h2>
    </section>
</Layout>

<style lang="scss">
    section {
        height: 80svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

