@import '../styles/global.scss';

@media screen and (max-width: 700px) {
    div.field {
        margin: 1rem;
        .field-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    button.superbutton {
        box-sizing: border-box;
        margin: 0 1rem;
        width: calc(100% - 2rem);
    }
}

.field {
    max-width: 700px;
    margin: 1rem auto;

    .field-wrapper {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        label {
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }

        .input-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            width: 100%;

            input,
            select,
            textarea {
                width: calc(100% - 1rem);
                border-radius: 7px;
                padding: 0.5rem;
                background-color: $paua-dark-grey;
                color: $text;
                border: solid 2px $paua-light-grey;
                outline: solid 2px transparent;
            }

            input:focus-visible,
            select:focus-visible,
            textarea:focus-visible {
                outline: solid 2px $paua-800;
            }

            input.error,
            select.error,
            textarea.error {
                outline: solid 2px $orange-crayola;
                margin: 0;
            }

            option {
                color: white;
                background-color: $primary;
            }

            option:checked,
            option:hover {
                background-color: $secondary;
            }
        }
    }

    .error {
        width: calc(100% - 2rem);
        margin: 0.5rem;
        padding: 0.2rem;
        color: $orange-crayola;
    }
}

.field.textarea .field-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1rem 0;

    textarea {
        resize: vertical;
        min-height: 3rem;
        max-height: 10rem;
    }

    label {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}


.superbutton {
    display: block;
    cursor: pointer;
    background-color: #222;
    border: solid 2px #333;
    color: $ts-pink;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    border-radius: $border-radius;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
}

.superbutton:focus-visible {
    outline: solid 2px $paua-800;
}

.superbutton.invalid {
    border-color: $orange-crayola!important;
}

.superbutton.valid {
    border: solid 4px $ts-green;
}

.superbutton.pristine {
    border: solid 4px $paua-600;
}

.superbutton.loading {
    border: solid 4px $ts-orange;
    color: $ts-orange;
    animation: pulse 0.5s infinite alternate;
}

.superbutton.error {
    border: solid 4px $orange-crayola;
}

.superbutton.done {
    border: solid 4px $ts-green;
    color: $ts-green;
    cursor: default;
}






@keyframes pulse {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: $orange-crayola;
    }
}