---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Historia">
    <p class="console">
        > Soy un programador autodidacta y apasionado con un enfoque especial en el frontend de programación. La informática ha sido un pilar influencial en mi vida, desde una temprana edad he estado inmerso en la programación. Durante esta fase inicial de mi crecimiento profesional, me inscribí en un <strong>FP de Desarrollo de Aplicaciones Informáticas</strong> que, aunque dejé por seguir mis inquietudes en el campo de la salud animal, dejó una huella significativa en mi camino hacia la industria tecnológica.
    </p>
    <p class="console">
        > Mi viaje profesional tomó un giro interesante cuando combiné mis pasiones por la sanidad animal y la informática para fundar mi propia empresa, Conet Mascotas. En esta <strong>StartUp</strong>, tuve el doble desafío de ser el encargado de la salud animal y la gestión informática de la empresa. Fue en este punto que volví a sumergirme en la programación, trabajando con tecnologías y lenguajes como <strong>Node.js</strong>, <strong>TypeScript</strong> y <strong>Angular</strong>. A pesar de los desafíos, encontré una satisfacción inmensa al navegar a través de este dualismo entre la veterinaria y la programación.
    <p class="console">
        > La adversidad no ha mermado mi deseo de <strong>crecer y aprender</strong>, ni mi enfoque en la programación frontend. Después de cerrar mi Startup, me embarqué en una serie de <strong>proyectos freelance</strong> en los que pude aplicar y mejorar continuamente mis habilidades de programación. Un proyecto destacado fue la implementación de una plataforma para el proyecto emprendedor <strong>Shopin</strong>. La construcción de este proyecto de una sola pieza con <strong>Nrwl</strong>, <strong>Angular</strong> e <strong>Ionic</strong>, además del uso de <strong>Firebase</strong> para los servicios backend, supuso un aprendizaje significativo y una demostración de mi adaptabilidad a nuevas tecnologías y desafíos.
    </p>
    <p class="console">
        > Continuamente busco oportunidades para desarrollar mis habilidades y mantenerme al día con las últimas tendencias y best-practices en el mundo del desarrollo web. Mi más reciente experiencia laboral con Simonetta me ha permitido adentrarme en el mundo del ecommerce en Shopify, trabajar con Liquid y fortalecer mis habilidades en JavaScript, HTML y CSS.
    </p>
    <p class="console">
        > A lo largo de mi carrera, he demostrado una naturaleza autodidacta</strong>, una <strong>mentalidad de resiliencia</strong> y una habilidad notable para <strong>gestionar proyectos</strong> y <strong>trabajar de forma autónoma</strong>. Estas habilidades, combinadas con mi experiencia técnica, hacen de mí un valioso activo para cualquier equipo de desarrollo.
    </p>
    <p class="console">
        > Hoy, mi objetivo es encontrar un empleo estable donde pueda ofrecer mis conocimientos y experiencia para ayudar a construir soluciones tecnológicas innovadoras y eficaces. Estoy listo para <strong>asumir nuevos retos</strong>, aportar a un equipo y <strong>seguir aprendiendo</strong> en el fascinante ámbito de la programación.
    </p>
    
</Layout>

<style lang="scss">
    @import "../../styles/global.scss";

    p {
        // text-align: justify;
        margin: 1rem 0 !important;
        line-height: 22px;
        strong {
            color: $primary;
        }
    }


</style>
