---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Historia">
    <p class="console">
        > Desde temprana edad me enseñaron a programar y, después de completar el
        <strong>Bachillerato</strong>, decidí iniciar el <strong>FP de Desarrollo de Aplicaciones
        Informáticas</strong>. Aunque no lo concluí ya que redirigí mi carrera hacia el
        campo de la <strong>salud y la sanidad</strong>, que también es una de mis grandes
        pasiones.
    </p>
    <p class="console">
        > Tras obtener mi título en <strong>Veterinaria</strong>, fundé una StartUp llamada <strong>Conet
        Mascotas</strong>. Durante este tiempo, tuve la necesidad de retomar, reciclar y
        actualizar mis conocimientos en programación y sistemas para satisfacer
        las necesidades de la empresa. Aquí, adquirí experiencia en <strong>Node.js,
        TypeScript</strong> y <strong>Angular</strong> (en ese momento, en su versión 8), además de
        aplicar mis conocimientos en <strong>WordPress, JavaScript, HTML y CSS</strong>. Ejercía
        el rol de <strong>CTO</strong> de la empresa, encargándome de la gestión informática,
        desde el desarrollo web hasta la programación de aplicaciones internas y
        públicas, así como la configuración del <strong>ERP (ZOHO)</strong>, todo ello en
        conjunción con tareas de marketing. Lamentablemente, la empresa tuvo que
        cerrar debido a la pandemia de <strong>COVID-19</strong>.
    </p>
    <p class="console">
        > Después de trabajar en empleos convencionales durante un período, decidí
        regresar al mundo de la programación. Continué aprendiendo <strong>Angular</strong> y
        manteniéndome actualizado con las nuevas versiones, y también descubrí
        tecnologías como <strong>NgRx, RxJs</strong> y <strong>Zod</strong>, mientras desarrollaba pequeñas
        aplicaciones de prueba como proyectos personales.
    </p>
    <p class="console">
        > En aproximadamente un año, desarrollé una plataforma para un proyecto
        emprendedor en calidad de mi primer cliente serio. Este proyecto supuso
        un gran desafío, ya que no solo apliqué todo lo que había aprendido de
        forma autodidacta, sino que también continué adquiriendo nuevos
        conocimientos. Implementé la plataforma como un monolito con <strong>Nrwl,
        Angular 13 e Ionic</strong>, ya que involucraba varias aplicaciones con
        componentes compartidos y servicios backend comunes, para el cual
        utilizé <strong>Firebase</strong>. Este proyecto me brindó valiosa experiencia en la
        gestión de proyectos y requisitos, y junto con el cliente, creamos un
        sistema de gestión de proyectos y requisitos en <strong>Notion</strong>.
    </p>
    <p class="console">
        > Después de completar este proyecto, exploré el campo del <strong>Vehicule
        Routing Problem</strong> para un proyecto de car sharing que, lamentablemente, no
        se llevó a cabo, pero me permitió adentrarme en el desarrollo backend.
    </p>
    <p class="console">
        > Luego, me sumergí en el desarrollo frontend de un comercio electrónico
        en <strong>Shopify</strong>, volviendo a trabajar con <strong>Vanilla JavaScript, HTML</strong> y <strong>CSS</strong>, y
        adquiriendo conocimientos sobre <strong>Liquid y Shopify</strong>. Al mismo tiempo, seguí
        la hoja de ruta de <strong>FrontEnd Developer</strong> ofrecida por <strong>OpenBootcamp</strong> y obtuve
        algunas certificaciones adicionales de la misma plataforma.
    </p>
    <p class="console">
        > Con la disrupción de los modelos <strong>GPT</strong> me dediqué a explorar las
        posibilidades que ofrecen los modelos de lenguaje para su integración en
        aplicaciones y automatización de tareas. Publiqué <a href="https://www.npmjs.com/package/json-gpt" target="_blank">mi primera librería en
        npm</a> y dedicé tiempo a
        experimentar con la idea de convertir este potencial en un producto
        comercial, aunque este reto quedó eclipsado por la gran ola de la
        inteligencia artificial.
    </p>
    <p class="console">
        > En la actualidad, estoy en búsqueda de un empleo estable donde pueda
        aplicar mis conocimientos y experiencia adquiridos a lo largo de estos
        años, seguir aprendiendo y contribuir a la creación de soluciones
        tangibles que lleguen al mercado.
    </p>
    
</Layout>

<style lang="scss">
    @import "../../styles/global.scss";

    p {
        // text-align: justify;
        margin: 1rem 0 !important;
        line-height: 22px;
        strong {
            color: $primary;
        }
        a {
            color: $accent;
            text-decoration: none;
        }
    }


</style>
